@model TicketActionStatus

<form class="d-inline"
      hx-post="/Tickets?handler=CreateAsk"
      hx-target="@($"#status_{Model.ContractAddress}_{Model.TicketId}")"
      hx-swap="innerHTML">
    <div class="modal fade" tabindex="-1" aria-labelledby="transferModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="transferModalLabel">🫴 List Ticket @Model.TicketId For Sale. </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>When you list your ticket for sale anyone can buy it by transferring the asking price you specify. 
                        Money and ticket will change hands in one safe transaction.</p>
                    <div class="alert alert-success fw-bold" role="alert">
                        ✅ KYC Status OK
                    </div>
                    <div class="mb-3 alert alert-success" role="alert">
                        <label for="bank-account" class="form-label fw-bold">Payout Bank Account</label>
                        <select id="bank-account" class="form-select" aria-label="Default select example" name="bankAccountId">
                            <option value="123">IBAN: DKXX XXXX XXXX XXXX XXXX</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="ask-price" class="form-label"><b>Asking Price $</b></label>
                        <input type="number" class="form-control" id="ask-price" name="askPrice" min="1" placeholder="" />@* todo add max value *@
                    </div>
                
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="contractAddress" value="@Model.ContractAddress" />
                    <input type="hidden" name="ticketId" value="@Model.TicketId" />
                    <button type="submit" class="btn btn-primary">Ok</button>
                </div>
            </div>
        </div>
    </div>
</form>
