@page
@using Ticketer.Model
@model AllEventsModel
@{
    ViewData["Title"] = "Events";
}
<div class="row">
    <div class="col-12">
        <hr class="shadow" style="border-top: 6px solid #ffffff"/>
        <div class="text-center text-white fw-bolder" style="margin-bottom: 1rem;">
            <h1 class="display-2">~ @ViewData["Title"] ~</h1>
        </div>
    </div>
</div>

<div class="row">
    @if (Model.ErrorMessage != "")
    {
        <div class="col-md-12">
            <div class="card bg-danger">
                <div class="card-body">
                    @Model.ErrorMessage
                </div>
            </div>
            
        </div>
    }
    
    @foreach (var c in Model.EventContracts)
    {
        <div class="col-md-12">
            <div class="card" style="box-shadow: 2px 4px 6px 2px rgba(0,0,0,0.2); margin-bottom: 1.5rem; background-color: #6b7353;">
                <div class="card-body">
                    <div style="border-bottom-style: dashed; border-bottom-color: aliceblue;">
                        <h4 class="card-title display-4" style="font-weight: bolder; color: aliceblue;">
                            ⭐ @c.Name
                        </h4>
                    </div>
                    @* checkout-block time, event end time, publish time, days left bids asks Artwork, description   *@
                    <div class="card-text fw-bolder" style="color: aliceblue; padding-top: 1rem;">
                        <p>
                            🗓️ Venue Open: @c.VenueOpenTimeLocal
                            <br/><small>
                                Ticket Check-Out is prohipited from @c.GetCheckOutBlockStart().ToString("MMM d yyyy HH\\:mm")
                            </small>
                        </p>
                        <p>🗓️ Venue Close: @c.VenueCloseTimeLocal</p>
                        <p>💰 Price: $ @c.TicketPrice.ToString("F2")</p>
                        <p>Organizer: @c.OwnerId</p>
                        <div class="d-flex align-items-center gap-3">
                            <span>🎫 Remaining Tickets: @c.RemainingTickets of @(c.SoldTickets + c.RemainingTickets)</span>
                            <div class="progress flex-grow-1" style="height: 20px; background-color: #484846">
                                <div class="progress-bar bg-dark" role="progressbar" style="width: @GetProgress(c)%" aria-valuenow="@GetProgress(c)" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="row align-items-end" style="margin-top: 1rem;">
                            <div class="col-md-6">
                                <span class="small" style="color: #363a29;">
                                    Contract Address: <a style="color: #363a29; text-decoration: none;" href="@($"/explorer/contracts/{@c.ContractAddress}")">@c.ContractAddress</a>
                                </span>
                            </div>
                            <div class="col-md-6 text-end">
                                @* <button class="btn btn-dark fw-bold" type="button" data-bs-toggle="modal" data-bs-target="#buy-modal"> *@
                                @* </button> *@
                                @* *@
                                <button 
                                    class="btn btn-dark fw-bold"
                                    type="button" 
                                     data-bs-toggle="modal" 
                                     data-bs-target="#check-out-modal"
                                     hx-get="/Events?handler=SecondaryMarketModal&contractAddress=@c.ContractAddress" 
                                     hx-target="#modal-container" 
                                     hx-swap="innerHTML"
                                >
                                    🤝 Buy Resale
                                </button>
                                
                                
                                
                                @if (c.RemainingTickets > 0)
                                {
                                    <button class="btn btn-light fw-bold" type="button" data-bs-toggle="modal" data-bs-target="#buy-modal"
                                            data-event-id="@c.ContractAddress" data-event-name="@c.Name" data-event-price="@c.TicketPrice.ToString("F2")">
                                        🎟️ Buy Primary
                                    </button>
                                }
                                else
                                {
                                    <button class="btn btn-light fw-bold disabled" type="button" data-bs-toggle="modal"
                                            data-event-id="@c.ContractAddress" data-event-name="@c.Name" data-event-price="@c.TicketPrice.ToString("F2")">
                                        👐 Sold Out
                                    </button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@* TODO MOVE TO PARTIAL *@
<!-- Modal, Buy -->
<div class="modal fade" id="buy-modal" tabindex="-1" aria-labelledby="buyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="buyModalLabel">Buy Ticket</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>💰 Price: $ <span id="buy-event-price"></span></p>
                <div class="mb-3">
                    <label class="form-label small text-muted">Card Number</label>
                    <input type="text" class="form-control" placeholder="1234 5678 9012 3456" maxlength="19" />
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label small text-muted">Expiry</label>
                        <input type="text" class="form-control" placeholder="MM / YY" maxlength="7" />
                    </div>
                    <div class="col">
                        <label class="form-label small text-muted">CVC</label>
                        <input type="text" class="form-control" placeholder="123" maxlength="4" />
                    </div>
                </div>
                <div class="mb-1">
                    <label class="form-label small text-muted">Name on Card</label>
                    <input type="text" class="form-control" placeholder="J. Doe" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form class="btn btn-success" method="post" asp-page-handler="Buy">
                    <input type="hidden" id="buy-event-id" name="eventId" value="" />
                    <button class="dropdown-item fw-bold" type="submit">Confirm Purchase</button>
                </form>
            </div>
        </div>
    </div>
</div>

@* data-event-id todo rename to contract address *@
<script>
    document.getElementById('buy-modal').addEventListener('show.bs.modal', function (event) {
        let button = event.relatedTarget;
        let eventId = button.getAttribute('data-event-id'); 
        let eventName = button.getAttribute('data-event-name');
        let eventPrice = button.getAttribute('data-event-price');
        document.getElementById('buy-event-id').value = eventId;
        document.getElementById('buy-event-name').textContent = eventName;
        document.getElementById('buy-event-price').textContent = eventPrice;
        this.querySelector('.modal-title').textContent = 'Buy Ticket for "' + eventName + '"';
    });
</script>

@{
    decimal GetProgress(EventContract c) => 
        (int)System.Math.Round((decimal)c.SoldTickets / (c.RemainingTickets + c.SoldTickets)*100m);
    
}