@page "/tickets/{ContractAddress}/{TicketId}/print"
@model Ticketer.Web.Pages.PrintTicket

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Print Ticket</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 2rem">
            <h1>@Model.Contract.Name</h1>
            <hr/>
            <h2>@Model.Contract.FullVenueAddress</h2>
            <h4>Doors open: @Model.Contract.VenueOpenTimeLocal</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-3 col-sm">&nbsp;</div>
        <div class="col-6 col-sm-12">
            <img style="max-width: 600px" src="@Model.QrCodeBase64" alt="Ticket QR Code"/>
        </div>
        <div class="col-3 col-sm">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>
                <b>Ticket Contract Address:</b> @Model.ContractAddress<br/>
                <b>Ticket ID:</b> @Model.TicketId<br/>
                <b>Check-in Secret:</b> @Model.Secret
            </p>
        </div>
    </div>
</div>
</body>
</html>